Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Jinja2==3.1.4
WTForms==3.2.1
SQLAlchemy==2.0.36
Werkzeug==3.1.3
Flask-Login==0.6.3
Flask-Bootstrap==3.3.7.1
psycopg2==2.9.10
Gunicorn==23.0.0