{% include "header.html" %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="What the Plot Twist music project is about">
    <meta property="og:title" content="About">
    <meta property="og:description" content="What the Plot Twist music project is about">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/tobydispirito/Music_Artwork/refs/heads/master/Plot%20Twist/Plot%20Twist%20Logo%20(600%20x%20314).png">
    <meta property="og:url" content="https://plottwistmusic.uk/about">
    <title>About</title>
</head>


<body>
{% include "userfacing.html" %}

<div class="about-contact-section-container below-navbar">
    <div class="about-contact-section">
        <div class="about-contact-content">
            <div class="center-text">
                <h2><br>About:</h2>
            </div>
            <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec fringilla neque. Aenean eu nisl fringilla ligula scelerisque efficitur vel quis est. Maecenas fringilla rutrum metus, in auctor mauris tristique et. Donec placerat dolor convallis tortor sollicitudin ullamcorper. Ut nulla risus, sagittis sit amet nibh eu, tincidunt aliquam odio. Pellentesque convallis metus nibh, eget finibus diam hendrerit ut. Donec vehicula leo diam, vitae congue enim fringilla id. Maecenas justo ligula, congue ut dignissim a, rhoncus a magna. Etiam sapien augue, eleifend nec felis ac, molestie varius augue. Vivamus sed mauris iaculis, consectetur massa vel, sodales nibh. Pellentesque sed tempor neque, et interdum lacus. Pellentesque viverra urna eget efficitur faucibus.</p>
        </div>
    </div>
</div>


{% include "navfooter.html" %}
{% include "footer.html" %}