{% include "header.html" %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="Details for the track, including high-res artwork, description and links to listen">
    <meta property="og:title" content="{{ track.artist }} - {{ track.title }}">
    <meta property="og:description" content="View {{ track.title }} by {{ track.artist }} here">
    <meta property="og:image:secure_url" content="{{ track.img_url }}">
    <meta property="og:url" content="https://plottwistmusic.uk/discography/{{ track.id }}">
    <title>{{ track.artist }} - {{ track.title }}</title>
</head>


<body>
{% include "userfacing.html" %}


<div class="discog-content-container">
    <div class="discog-element-container"><img class="discography-image-item" src="{{ track.img_url }}" alt="artwork {{ track.title }}"></div>
    <div class="discog-element-container">
        <h4>{{ track.artist }} - {{ track.title }}{% if track.remix_artist %} ({{ track.remix_artist }} Remix){% endif %}</h4>
        <p>{{ track.description }}</p>
    </div>
</div>
<div class="streamer-link-container-multi">
    {% if track.youtube_url %}
    <div class="streamer-link-container youtube-link">
        <a href="{{ track.youtube_url }}" target=”_blank”><img class="streamer-link" src="/static/images/youtube-icon.png" alt="YouTube Link"></a>
    </div>
    {% endif %}
    {% if track.soundcloud_url %}
    <div class="streamer-link-container soundcloud-link">
        <a href="{{ track.soundcloud_url }}" target=”_blank”><img class="streamer-link" src="/static/images/soundcloud-icon.png" alt="Soundcloud Link"></a>
    </div>
    {% endif %}
    {% if track.spotify_url %}
    <div class="streamer-link-container spotify-link">
        <a href="{{ track.spotify_url }}" target=”_blank”><img class="streamer-link" src="/static/images/spotify-icon.png" alt="Spotify Link"></a>
    </div>
    {% endif %}
</div>

{% include "navfooter.html" %}
{% include "footer.html" %}