{% include "header.html" %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="See the entire Plot Twist discography displayed here. Including both official and unofficial releases.">
    <title>Discography</title>
</head>


<body>
{% include "userfacing.html" %}

<div class="below-navbar"><h1>Discography</h1></div>

<div class="wip-discog-multi-image-container">
{% for track in tracks %}

  <div class="wip-discog-image-container">
    <div>
      <h4>{{ track.title }}</h4>
    </div>
    <a href="{{ url_for('discog_entry', entry_id=track.id) }}">
      <img class="wip-discog-image" src="{{ track.img_url }}" alt="artwork {{ track.title }}">
    </a>
  </div>
{% endfor %}
</div>

{% include "navfooter.html" %}
{% include "footer.html" %}