{% include "header.html" %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="Plot Twist Music's official website. You'll find here full details on all the music, music production and what the project is all about">
    <meta property="og:title" content="Plot Twist Music">
    <meta property="og:description" content="Plot Twist Music's official website">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/tobydispirito/Music_Artwork/refs/heads/master/Plot%20Twist/Plot%20Twist%20Logo%20(1970%20x%20697).png">
    <meta property="og:url" content="https://plottwistmusic.uk">
    <title>Homepage</title>
</head>


<body>
{% include "userfacing.html" %}

<div class="artist-name-logo-container below-navbar">
    <img class="artist-name-logo" src="/static/images/Plot Twist Logo.png" alt="Artist Name Logo">
</div>
{% if tracks %}
    <div class="header-centered">
        <h4>Check out the latest release below:</h4>
    </div>
    <div class="wip-discog-multi-image-container">
        <div class="wip-discog-image-container">
            <a href="{{ url_for('discog_entry', entry_id=tracks[-1].id) }}">
              <img class="wip-discog-image" src="{{ tracks[-1].img_url }}" alt="artwork {{ tracks[-1].title }}">
            </a>
        </div>
    </div>
{% endif %}

{% include "navfooter.html" %}
{% include "footer.html" %}