{% include "header.html" %}
{% include "userfacing.html" %}

<div class="artist-name-logo-container below-navbar">
    <img class="artist-name-logo" src="/static/images/Plot Twist Logo.png" alt="Artist Name Logo">
</div>
{% if tracks %}
    <div class="header-centered">
        <h4>Check out the latest release below:</h4>
    </div>
    <div class="wip-discog-multi-image-container">
        <div class="wip-discog-image-container">
            <a href="{{ url_for('discog_entry', entry_id=tracks[-1].id) }}">
              <img class="wip-discog-image" src="{{ tracks[-1].img_url }}" alt="artwork {{ tracks[-1].title }}">
            </a>
        </div>
    </div>
{% endif %}

{% include "navfooter.html" %}
{% include "footer.html" %}