

<div class="footer fixed-bottom inherit-background">
<div class="d-flex container justify-content-center">
    <nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" target=”_blank”>YouTube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target=”_blank”>Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target=”_blank”>Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target=”_blank”>Soundcloud</a>
        </li>
      </ul>

  </div>
</nav>
</div>

</div>